<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases> 
		<typeAlias  type="com.project.kbj.dto.MemberDTO" alias="mdto"/>
		<typeAlias  type="com.project.kbj.dto.DoctorDTO" alias="ddto"/>
		<typeAlias  type="com.project.kbj.dto.DiseaseDTO" alias="idto"/>
		<typeAlias  type="com.project.kbj.dto.ReservationDTO" alias="rdto"/>
		<typeAlias  type="com.project.kbj.dto.CommentDTO" alias="cdto"/>
	</typeAliases>
</configuration>