<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Disease">
	<insert id="insert" parameterType="idto">
		insert into disease_table(ds_number, ds_id, ds_name, ds_symptom,)
		values(#{ds_number},#{ds_id},#{ds_name},#{d_symptom})
	</insert>
</mapper>